<!-- /*
* File: places.component.html
* Author: Kovács Dorina
* Copyright: 2022, Kovács Dorina
* Group: Szoft II N
* Date: 2022-12-25
* Github: https://github.com/Kdorina
* Licenc: GNU GPL
*/ -->

<h2>Települések</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Település név</th>
                <th>Megye</th>
                <th>Terület (km^2)</th>
                <th>Népesség (fő)</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let place of places">
                <td>{{place.name}}</td>
                <td>{{place.county}}</td>
                <td>{{place.area}}</td>
                <td>{{place.population}}</td>
            </tr>
        </tbody>
    </table>
</div>
