<!-- /*
* File: app.component.html
* Author: Kovács Dorina
* Copyright: 2022, Kovács Dorina
* Group: Szoft II N
* Date: 2022-12-25
* Github: https://github.com/Kdorina
* Licenc: GNU GPL
*/ -->

<header class="bg-success">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link text-info" routerLink="/places">Települések</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" routerLink="/about">Névjegy</a>
        </li>
    </ul>
</header>
<router-outlet></router-outlet>